build/
build_/

saved_task/*
saved_task/

assets/
assets

**/*/data/
**/__pycache__
*.pyc
*.tmp
*.tmp/
output/
record*/
*.hdf5

*.tar
*.tar.gz
*.zip
*.7z
.vscode/*
checkpoint
checkpoints

source/geniesim/app/robot_cfg/*_recording.json

default.etcd
python3*INFO*
*.INFO*

release_pkg

# ROS
build/
install/
log/

logs/
logs

.cache/
.cache
